:root {
  --dark: #011627;
  --light: #fdfffc;
  --accent: #ff9f1c;
  --green: #2ec4b6;
  --red: #e71d36;
  --grey: #d9d9d9;
  --br: 5px;
}

/* General styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border-radius: var(--br);
  box-shadow: 1px 1px 2px var(--grey);
}

button:active {
  transform: scale(98%);
  box-shadow: none;
  color: var(--light);
}

/* Styles for the header and footer sections */
header,
footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 2rem;
}

header {
  border-bottom: 4px solid var(--accent);
}

footer {
  border-top: 4px solid var(--accent);
}

header h1 {
  font-size: 4.5rem;
  color: var(--accent);
  text-shadow: -1px 0 var(--light), 0 1px var(--light), 1px 0 var(--light);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header h1 span {
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.5s;
}

header h1 span:hover {
  transform: scale(95%);
}

header h1 span:active {
  transform: rotate(180deg);
}

form {
  display: flex;
  flex-wrap: wrap;
}

form > * {
  margin: 1rem 0.5rem;
  padding: 8px;
  border: 2px solid var(--grey);
  border-radius: var(--br);
  background-color: var(--light);
  outline: none;
}

form input[name='task-name'] {
  flex-basis: 50%;
  margin-left: 0;
}

form input[name='task-type'] {
  flex-basis: 30%;
}

form input:focus {
  border-color: var(--accent);
}

form button {
  margin-right: 0;
  flex-basis: calc(20% - 2rem);
  background-color: var(--dark);
  color: var(--accent);
}
